<div id="collections" class="collection-card-inner {% if version == 2 %}version-2{% endif %}">
    <div class="collection-image-container">
        <img src="/assets/{{image}}" alt="{{title}}" class="collection-image" width="auto" height="auto">
        <h1 class="collection-title">{{title}}</h1>
    </div>
</div>