{% for store in stores %}
    <a href="{{store.coinPage}}" target="_blank" class="header_midContainer_link">
        <img src="{{ store.image }}" height="auto" width="auto" alt="Logo" class="header_midContainer_logo">
    </a>
{% endfor %}