$colorBackground: #151515;
$marquee-hero-banner-text-size: 75px;

.marquee-hero-banner {
    margin-block: 50px;
    width: 100%;
    z-index: 1000;

    .marquee-hero-banner-container {
        display: flex;
        height: 87px;
        min-height: 87px;
        max-height: 87px;
        width: 100%;
        max-width: 100%;
        gap: 1rem;
        align-items: center;
        overflow: hidden;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 50px;
            height: 100%;
            z-index: 1;
        }
        
        &::before {
            max-height: 87px;
            left: 0;
            background: linear-gradient(to right, $colorBackground 0%, transparent 100%);
        }
        
        &::after {
            max-height: 87px;
            right: 0;
            background: linear-gradient(to left, $colorBackground 0%, transparent 100%);
        }

        .marquee-hero-banner-container-content {
            display: flex;
            align-items: center;
            gap: 1rem;
            animation: marquee-hero 60s linear infinite;

            .marquee-hero-banner-container-content-title {
                font-family: $font-family-qonquer-in-style;
                font-size: $marquee-hero-banner-text-size;
                padding-top: 2px;
                margin: 0;
                white-space: nowrap;
            }

            .marquee-hero-banner-container-content-starIcon {
                opacity: 0.5;
                display: flex;
                width: 4rem;
                height: 4rem;
            }
        }

    }


}

@keyframes marquee-hero {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-400%);
    }
}