.featured-products {
    width: screen;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: $global-padding-inline;
    gap: 3rem;

    .product-list {
        display: grid;
        gap: 14px;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        margin: 0 auto;


    }

    .featured-products-container-button {
        @include flex-center;
        width: 100%;


        .featured-products-button {
            @include buttonStyle;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: relative;
        }
    }

    .scroll-observer {
        width: 100%;
        height: 20px; // Altura pequeña para detectar el scroll
        margin-top: 2rem;
    }
}