<section class="error-page">
    {% assign error_icon = settings.error.settings.error_icon %}
    <div class="error-page_logo_container">
        <img src="/assets/SVG/{{error_icon}}" height="auto" width="auto" alt="Logo" class="error-page_logo">
    </div>
    <a href="/" class="error-page-button">Return to Home</a>
</section>