<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopify Simulator | Gradiweb</title>
</head>
<body>
  {% include 'featured-marquee-top-bar' %}
  {% include 'featured-header' %}
  {% include 'featured-banner-body' %}
  {% include 'featured-marquee-hero-banner' %}
  {% include 'featured-products' %}
  {% include 'script-header-change' %}
  {% include 'script-card-selector' %}
    <script src="/main.js" defer></script>
</body>
</html>